<div class="wrapper flex ">
    <div class="bg-gray-800 text-white flex-row">
        <h5>
          <%= link_to recipe.name, user_recipe_path(id: recipe.id, user_id: recipe.user.id), class: "card-title" %>
        </h5>
        <h5>By: <%= recipe.user.name %></h5>
        </div>
        <div class="bg-red-400">
        <p class="card-text"><%= recipe.description %></p>
        
        <div class="">
        <p class="opacity-50"><%= time_ago_in_words(recipe[:created_at]) %></p>
      </div>
    </div>
</div>