<h1 class="text-center text-2xl font-bold text-red-400 mt-10">Recipe List</h1>
<%= link_to "Add New Recipe", new_user_recipe_path(:user_id), class: "m-1 p-1 bg-red-400 text-white rounded-md hover:bg-red-500 hover:text-white" %>

<table class="wrapper w-4/5">
 <thead class="bg-gray-800 text-white mr-12 border">
      <th class="p-5 border border-slate-600">food</th>
      <th class="p-5 border border-slate-600">By ID</th>
      <th class="p-5 border border-slate-600">Type</th>
      <th class="p-5 border border-slate-600">Total foods</th>
      <th class="p-5 border border-slate-600">Total price</th>
      <th class="p-5 border border-slate-600">Description</th>
      <th class="p-5 border border-slate-600">Time</th>
      <th class="p-5 border border-slate-600">Remove</th>
      </thead>
</table>
<% @recipes.each do |recipe| %>
  <%= render partial: 'recipes/recipe_card', locals: { recipe: recipe, user_id: recipe.id } %>
  <% end %>
  <% if @recipes.empty? %>
    <h1>There are no public recipes to show</h1>
<% end %>